<ul class="bg-blue-900 text-black flex px-[65rem] font-extrabold hover:text-white">
<a href="/" class="m-2">SignUp</a>
<a href="/login_direct" class="m-2">Login</a>
<a href="/auth" class="m-2">AuthPage</a>
<a href="/logout" class="m-2">LogOut</a>
</ul>