
<%- include("../partials/meta")%>
<%- include("../partials/navbar")%>



<form action="/login" method="post" class="bg-gray-100 ml-[20rem] w-[16rem] mt-[6rem]">
    <div><input type="text" name="email" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
    <div><input type="text" name="password" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
    <div><button type="submit" calss="bg-blacktext-white font-extrabold mt-3">Login</button></form>